/********************************************************************
                                GENERAL
********************************************************************/

/* Prevent scroll on narrow devices */

html, body {
  overflow-x: hidden;
}

/* Padding to compensate for navigation overlap */

body {
  padding-top: 60px;
  padding-bottom: 60px;
  background: radial-gradient(ellipse at center, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 85%, rgba(226,226,226,1) 100%);
}

/*body * {
  border: 1px solid #FFF;
}*/

/********************************************************************
                            TOP NAVIGATION
********************************************************************/

/* Basic navbar color scheme and effects */

#nav-top {
  background: linear-gradient(to bottom, rgba(18,30,70,1) 0%, rgba(62,70,97,1) 100%);
}

/* Pitt logo container */

.navbar-logo {
  padding-top: 0.1rem;
}

/* Pitt seal */

.seal {
  margin-top: 0.05rem;
  width: 2.75rem;
  height: 2.75rem;
}

/* School and department text */

.navbar-brand {
  color: #FFF !important;
  font-family: 'Slabo 27px', serif;
  text-transform: none !important;
  font-size: 1.4rem;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
}

#navbarResponsive {
  float: right;
}

/* Container that holds responsive menu bar */

.menu-container {
  margin-top: 1rem;
  height: 1.4rem;
  width: 1.75rem;
}

/* Responsive menu bar */

.hamburger {
  position: absolute;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.hamburger div {
  position: absolute;
   left: 0;
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  border-radius: 9px;
  background: #FFF;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.hamburger div:nth-child(1) {
  top: 0;
}

.hamburger div:nth-child(2), .hamburger div:nth-child(3) {
  top: 0.4rem;
}

.hamburger div:nth-child(4) {
  top: 0.8rem;
}

.hamburger.open div:nth-child(1), .hamburger.open div:nth-child(4) {
  top: 0.4rem;
  left: 25%;
  width: 0%;
}

.hamburger.open div:nth-child(2) {
  background: #FFF;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.open div:nth-child(3) {
  background: #FFF;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*******************************************************************************
                            HOMEPAGE (INDEX.HTML)
********************************************************************************/

.carousel {
  height: 65vh;
}

.carousel-caption {
  z-index: 10;
  top: 46%;
  background-color: rgba(180, 180, 180, 0.4);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  max-width: 30rem;
  max-height: 9rem;
  margin: 0 auto;
  text-align:center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-caption h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.carousel-item {
  background-color: #777;
  height: 65vh;
}

.carousel-item img {
  min-height: 100%;
  min-width: 100%;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 120px 0px rgba(0,0,0,1);
    top: 0;
    left: 0;
}

/********************************************************************
                          PEOPLE SECTION
********************************************************************/

.people .col-lg-4 {
  text-align: center;
  padding-top: 3rem;
}

.img-circle {
  border: solid 2px #FFF;
  border-radius: 10rem;
  height: 13rem;
  width: 13rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.people h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.people p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  margin-right: .75rem;
  margin-left: .75rem;
}

.people .btn {
  margin-top: 0.5rem;
}

/*******************************************************************************
                                NEWS SECTION
********************************************************************************/

.featurette-divider {
  margin: 2rem 4rem 3rem 4rem;
}

.featurette-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.time {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  list-style: none;
}

.featured-news-container a {
  text-decoration: none;
}

.featured-news-container img {
  height: 100%;
  width: 90%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border: solid 2px #FFF;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-item {
  display: flex;
  flex-flow: row;
  margin-bottom: 1rem;
}

.news-info {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding-left: 1rem;
}

.recent-news-image {
  background: #AAA;
  border: solid 2px rgba(62,70,97,1);
  border-radius: 0.25rem;
  width: 4.5rem;
  height: 4.5rem;
  flex-shrink: 0;
}

.news-info a {
  width: 100%;
  font-size: 0.9rem;
}

.news-info a:hover {
  color: rgb(35, 54, 89);
  text-decoration: none;
}

.news-details {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  width: 90%;
}

#news-btn {
  margin-top: 0.75rem;
}

#vertical-separator {
  border-left: 1px solid #DDD;
}

#recent-news-heading {
  padding-left: 2.5rem;
}

.news {
  padding-bottom: 2rem;
}

/********************************************************************
                       FEATURED EVENT SECTION
********************************************************************/

.events-container {
  margin-bottom: 2.5rem;
}

#featured-event-heading {
  margin-bottom: 1rem;
}

.featured-event a {
  text-decoration: none;
}

.featured-event-image {
  height: 100%;
  width: 90%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  border: solid 2px #FFF;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.featured-event p {
  width: 90%;
}

/********************************************************************
                      UPCOMING EVENTS SECTION
********************************************************************/

#upcoming-event-heading {
  margin-left: 2.5rem;
}

.event-list li {
  list-style: none;
}

.event {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 1.5rem;
}

.date {
  display: flex;
  flex-flow: column;
  list-style: none;
  font-size: 0.9rem;
  width: 80%;
  padding-left: 1rem;
}

.calendar {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 3.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 3.5rem;
  border: solid 2px rgba(62,70,97,1);
  border-radius: 0.25rem;
}

.calendar-top {
  background-color: rgba(62,70,97,1);
  color: #FFF;
}

.calendar-bottom {
  font-size: 1.2rem;
}

#events-btn {
  margin-top: 0.75rem;
}

/********************************************************************
                            FOOTER SECTION
********************************************************************/

.footer-container {
  background: #EEE;
  text-align: center;
  font-size: 0.9rem;
  border-top: solid 1px #DDD;
  height: 20rem;
}

footer ul {
  text-align: left;
	left: 0;
	padding: 0;
  list-style-type: none;
}

footer .row {
  padding-top: 2rem;
	padding-bottom: 3rem;
}

#tweet {
  color: rgb(70, 154, 233) !important;
  margin-right: 0.5rem;
}

#tweet-heading {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 1rem;
	margin-right: 2.5em;
  width: 85%;
}

.twitter-feed {
  display: flex;
  flex-flow: column;
	margin-right: 2.5rem;
  /*background: #333;*/
  background: linear-gradient(135deg, rgba(17,17,17,1) 0%, rgba(51,51,51,1) 35%, rgba(68,68,68,1) 78%, rgba(85,85,85,1) 100%);
  color: #FFF !important;
  padding: 1rem 1rem 0rem 1rem;
  border: 2px solid #FFF;
  border-radius: 0.25rem;
  list-style: none;
  text-decoration: none;
  font-size: 0.7rem;
  height: 13rem;
  width: 88%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*box-shadow: 0px 0px 10px 0px rgba(107,163,227,1);*/
}

.twitter-feed-item {
	display: flex;
	flex-flow: row;
}

.twitter-feed-item span {
  margin-right: 0.05rem;
}

.twitter-icon {
  width: 3rem;
  height: 3rem;
  border: 2px solid #FFF;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

.twitter-feed li {
  margin-bottom: 0.75rem;
}

#contact-heading {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.contact {
  list-style: none;
  font-size: 0.7rem;
  text-align: center;
}

.contact a:hover {
  text-decoration: none;
}

footer span {
	margin-right: -0.30rem;
}

.directions {
  text-align: center;
  margin-left: 2rem;
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
}

#map {
  height: 15rem;
  width: 85%;
  margin-top: 0.25rem;
  margin-left: 2.5rem;
  border: solid 2px #FFF;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#vertical-separators {
  border-left: solid 1px #DDD;
  border-right: solid 1px #DDD;
}

/********************************************************************
                        BOTTOM NAVIGATION
********************************************************************/

/* Basic navbar color scheme and effects */

#nav-bottom {
  background: linear-gradient(to top, rgba(18,30,70,1) 0%, rgba(62,70,97,1) 100%);
  height: 4rem;
}

#nav-social {
  margin: 0;
  padding: 0;
  line-height: 0;
  font-size: 1.6rem;
}

/********************************************************************
                        GENERAL NAVIGATION
********************************************************************/

/* General navigation fonts, effects, and positioning */

.nav-link {
  color: #FFF !important;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.3rem;
}

.nav-item a:hover {
  color: rgb(202, 203, 154) !important;
}

/********************************************************************
                      HOMEPAGE @MEDIA 480PX
********************************************************************/

/* Adjusts content sizing for mobile displays */

@media screen and (max-width: 992px) {

  .navbar-brand {
    font-size: 1.5rem;
    padding-top: 0.4rem;
    width: 70%;
  }

  #navbarResponsive {
    float: left;
  }

  .carousel {
    height: 40vh;
  }

  .shadow {
    box-shadow: inset 0px 0px 60px 0px rgba(0,0,0,1);
  }

  .carousel-caption {
    top: 30%;
    height: 7rem;
  }

  .carousel-caption h1 {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .carousel-item {
    height: 40vh;
  }

  .img-circle {
	  height: 13rem;
	  width: 13rem;
  }

  .people p {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .featured-news-container {
    padding-bottom: 0.25rem;
  }

  .featured-news-container {
	  width: 89%;
    left: 2.5rem;
  }

  .news-item {
    width: 95%;
  }

  .news {
    padding-bottom: 1rem;
  }

  .featured-news-container img {
    margin: 2rem 0;
  }

  #vertical-separator {
    border: none;
  }

  .recent-news-container {
    bottom: -0.5rem;
  }

  .featured-news-container img {
    margin: 2rem 0;
  }

  .featured-event {
    top: 0.25rem;
    left: 2.5rem;
    width: 89%;
    padding-bottom: 0.25rem;
  }

  .featured-event-image {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  #upcoming-event-heading {
    margin-bottom: 2rem;
  }

  .calendar {
    margin-bottom: 0.5rem;
  }

  .date {
    width: 74%;
    margin-top: -0.5rem;
  }

	.footer-container {
		height: auto;
    background: none;
	}

  #tweet-heading {
    text-align: center;
	  margin-right: 0;
	  margin-bottom: 1.5rem;
	  margin-top: 1rem;
  }

  .twitter-feed {
	  width: 80%;
	  height: auto;
    margin-bottom: 3.25rem;
	  margin-right: 0;
  }

  .twitter-feed li {
    margin-bottom: 1rem;
  }

	.directions {
		margin-left: 0;
	}

  #map {
    margin-top: -0.75rem;
    margin-left: 0;
    height: 20rem;
    width: 80%;
  }

  #nav-social {
    line-height: 0;
    margin-top:  -0.15rem;
		font-size: 1.8rem;
		width: 100%;
	}
}
